extends layout.pug
block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each comment in comments
          li.publication__list-item
            .publication__header
              +insertSmallAvatar(comment['users.avatar'])
              b.publication__list-name #{comment['users.firstName']} #{comment['users.lastName']}
              - date = new Date(comment.createdAt)
              time.publication__item-time(datetime=date.toISOString())
                +formatDate(date)
            a.publication__item-text(href=`/articles/${comment['articles.id']}`) #{comment.text}
            p.publication__text-strong #{comment['articles.title']}
            a.publication__button.button.button--close-item(href=`/articles/delete/${comment['articles.id']}/comments/${comment.id}`)
              span.visually-hidden Закрыть строку списка

