block mixins
  mixin insertArticleImg(article)
    if article.picture
      - filename = article.picture;

      .preview__background
        img.preview__background-image(
          src=`/img/${filename}`
          width='460'
          height='240'
          alt=`${article.title}`)

  mixin formatDate(date)
    - fullYear = date.getFullYear()
    - month = (date.getMonth() + 1).toString().padStart(2, `0`)
    - day = date.getDate().toString().padStart(2, `0`);
    - hours = date.getHours().toString().padStart(2, `0`);
    - minutes = date.getMinutes().toString().padStart(2, `0`);

    | #{`${day}.${month}.${fullYear}, ${hours}:${minutes}`}

  mixin pagination(page, totalPages, width, prefix)
    -
      start = page - width;
      end = page + width;

      if (start < 1) {
        end += 1 - start;
        start = 1;
      }
      if (end > totalPages) {
        start -= end - totalPages;
        end = totalPages;
      }
      if (start < 1) {
        start = 1;
      }
      i = start - 1;
    ul.preview__pagination.pagination(style={"justify-content": "center"})
      if start > 1
        li
          a.pagination__button.button.button--backwards.button--disabled(href=`${prefix}page=${page - 1}` aria-label='Страница назад') Назад
      while i++ < end
        li.pagination__item(class={"pagination__item--active": i === page})
          - link = i !== page ? `${prefix}page=${i}` : null
          a(href=link)= i
      if end < totalPages
        li
          a.pagination__button.button.button--forward(href=`${prefix}page=${page + 1}` aria-label='Страница вперед') Вперед


  mixin insertErrorMessageList(errors)
    if errors
      - errorsMessages = Object.values(errors)
      .form__validation-error
        p.form__error-message Произошли ошибки:
        ul.form__errors
          each message in errorsMessages
            li.form__error= message

  mixin insertErrorMessage(key, errors, className)
    if errors
      if key in errors
        p(class=className)
          | #{errors[key]}

  mixin insertAvatar(avatar)
    if avatar
      img(src=`/img/${avatar}` alt='аватар пользователя')

  mixin insertSmallAvatar(avatar)
    if avatar
      img.publication__list-image(src=`/img/${avatar}` width='20' height='20' alt='Аватар пользователя')

  mixin truncateText(text, n)
    -
      if (text.length > n) {
        text = text.slice(0, n)
        text = text.slice(0, text.lastIndexOf(` `))
      }
    | #{text}&nbsp;...
