extends layout.pug

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article in articles
          li.notes__list-item
            - const date = new Date(article.createdAt)
            time.notes__item-time(datetime=date.toISOString())
              +formatDate(date)
            a.notes__item-text(href=`/articles/${article.id}`) #{article.title}
            a.notes__item-time(href=`/articles/edit/${article.id}`) Редактировать
            a.notes__button.button.button--close-item(href=`/articles/delete/${article.id}`)
              span.visually-hidden Закрыть строку списка

